<%- include('../view-parts/_header'); -%>

<div class="message is-danger mt-6">
  <p class="message-body has-text-centered">
    <strong>This order is no longer available.</strong><br />
    <a href="<%= urlPrefix %>/">Return to Products</a>
  </p>
</div>

<%- include('../view-parts/_footerA'); -%>
<%- include('../view-parts/_footerB'); -%>
