// Dependency imports

$family-sans-serif: 'Barlow', system-ui, sans-serif;
$body-size: 18px;

@import '@cityssm/bulma-a11y/bulma-a11y';
@import '@creativebulma/bulma-tooltip/src/sass/index';

$facheck-radio-checked: '\f058';

@import '@cityssm/simple-fa5-checkbox/facheck-bulma';

// Site styles

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.card-content + .card-content {
  border-top: 1px solid #ededed;
}

.has-margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.has-cursor-zoom-in {
  cursor: zoom-in !important;
}
