<div class="message is-info">
  <div class="message-body">
    <p>A $5.00 application fee is required for all requests.</p>
    <p class="is-size-7">
      More information on
      the <em>Municipal Freedom of Information and Protection of Privacy Act</em>
      can be found on
      <a href="https://www.ontario.ca/laws/statute/90m56" target="_blank" rel="noopener">the Ontario government's website</a>.
    </p>
  </div>
</div>
