  </main>
</div>
<% if (configFns.getProperty("site.footer.isVisible")) { %>
  <footer class="px-5 py-3 has-background-<%= configFns.getProperty("site.footer.backgroundColorClass") %> has-text-<%= configFns.getProperty("site.footer.textColorClass") %>">
    <%
      const siteFooterEjs = configFns.getProperty("site.footer.footerEjs");
    %>
    <%- include('../view-parts/footers/' + siteFooterEjs); -%>
  </footer>
<% } %>
<script>
  window.exports = window.exports || {};
  if (window.document.documentMode) {
    window.document.body.insertAdjacentHTML("afterbegin",
      "<div class=\"message is-danger\"><p class=\"message-body has-text-centered has-text-weight-bold\">The Internet Explorer web browser is not supported.</p></div>");
  }
</script>
