<div class="message is-success">
  <p class="message-body">
    <strong>Your order has been processed successfully.</strong><br />
    Please print or archive the information below for your records.
  </p>
</div>
