<div class="message is-success">
  <p class="message-body">
    <strong>
      <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.orderProcessed, preferredLanguage) %>
    </strong><br />
    <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.orderPrint, preferredLanguage) %>
  </p>
</div>
