<div class="message is-warning">
  <p class="message-body">
    Note that this is a sample configuration.
    There is no database running to record your order.
    Clicking "Proceed to Payment" will return an error.
  </p>
</div>
