<p class="is-size-7 has-text-right">
  Powered by
  <a class="has-text-<%= configFunctions.getProperty("site.footer.textColorClass") %>" href="https://github.com/cityssm/mini-shop" target="_blank" rel="noopener nofollow">
    cityssm/mini-shop</a><br />
  A lightweight, free, and open source storefront
</p>
