<p class="is-size-7 has-text-right">
  <a class="has-text-weight-semibold has-text-<%= configFns.getProperty("site.footer.textColorClass") %>" href="https://saultstemarie.ca/" target="_blank" rel="nofollow">The Corporation of the City of Sault Ste. Marie</a><br />
  <a class="has-text-<%= configFns.getProperty("site.footer.textColorClass") %>" href="https://saultstemarie.ca/Disclaimer.aspx" target="_blank" rel="nofollow">Privacy Policy and Disclaimer</a>
  <span aria-hidden="true">&middot;</span>
  <a class="has-text-<%= configFns.getProperty("site.footer.textColorClass") %>" href="https://saultstemarie.ca/Contact-Us.aspx" target="_blank" rel="nofollow">Contact</a>
</p>
