<div class="message is-info">
  <p class="message-body">
    After submitting this form, you will be redirected
    to a secure, third-party service to finish making your payment.
    Once the payment is complete, you will return to this website
    to finalize your order.
  </p>
</div>
